
/* the :host selector is used to target the host element of the component. In this case, the host element is the app-button element. The host element is the element that represents the component in the DOM. The :host selector is used to apply styles to the host element itself. */
:host {
    display: inline-block;
    padding: 0.65rem 1.35rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: #691ebe;
    color: white;
    border: none;
  }
  
  :host:hover {
    background-color: #551b98;
  }
  
  .icon {
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }
  
  :host:hover .icon {
    transform: translateX(4px);
  }