
<!-- ngSubmit, we need to import FormsModule -->
<form (ngSubmit)="onSubmit(titleInput, textInput.value)">
    <app-control label="Title">
        <!-- the # creates a template variable -->
        <input type="text" name="title" id="title" #titleInput />
    </app-control>
    <app-control label="Request">
        <textarea type="text" name="request" id="request" rows="3" #textInput ></textarea>
    </app-control>
    <p>
        <button appButton >
            Submit 
            <span ngProjectAs="icon">⮚</span>
        </button>
    </p>
</form>